<p>
  <h2>Games by <a href="/<%= @user.name %>"><%= "@#{@user.name}" %></a>:</h2>
</p>

<% if @twines.empty? %>
<p>
  <%= @user.name %> hasn't created any games yet!
</p>
<% else %>
  <% @twines.each do |twine| %>
    <div class="game">
      <p class="title">
        <a href="/<%= @user.name %>/<%= twine.slug %>"><%= sanitize twine.name %></a><br/>
      </p>
      <div class="right">
        <span><%= twine.plays %> plays</span>
        <% if @user.uid == uid %>
          <a class="delete invisible">✕</a>
        <% end %>
      </div>
      <% if @user.uid == uid %>
      <div class="prompt">You sure? <a class="delete-yes" data-del-url="/<%= @user.name %>/<%= twine.slug %>/delete">Yes</a> / <a class="delete-no">No</a></div>
      <% end %>
    </div>
  <% end %>
<% end %>