<p>
  <h2>Games by <a href="/<%= @user.name %>"><%= "@#{@user.name}" %></a>:</h2>
</p>

<% if @twines.empty? %>
<p>
  <%= @user.name %> hasn't created any games yet!
</p>
<% else %>
  <% @twines.each do |twine| %>
    <div class="game">
      <p class="title">
        <a href="/<%= @user.name %>/<%= twine.slug %>"><%= sanitize twine.name %></a><br/>
      </p>
      <div class="delete"><a class="del">✕</a></div>
      <div class="prompt">You sure? <a data-del-url="/<%= @user.name %>/<%= twine.slug %>/delete">Yes</a> / <a class="no">No</a></div>
    </div>
  <% end %>
<% end %>